.hr-linear {
  background-image: linear-gradient(to right, $info, transparent);
  border: none;
  border-radius: 50rem;
  height: 2px;
}

.hr-radial {
  background-image: radial-gradient($info, transparent);
  border: none;
  border-radius: 50rem;
  height: 2px;
}

#back-top {
  background-color: $gray-600;
  border-radius: .25rem;
  display: none;
  height: 3rem;
  opacity: .3;
  padding: 1rem;
  width: 3rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  transition: all .2s;
  z-index: 2000;

  &:hover {
    background-color: $dark;
    border-radius: 50% 50% 50% 0;
    cursor: pointer;
    opacity: 1;
    transform: rotate(135deg);

    & > i {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: inline;
        font-size: 1.5rem;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }
  }

  & > i {
    color: $light;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:nth-child(2) {
      display: none;
    }
  }
}
