.ad {
  border: 1px solid $gray-600;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  &__728x90 {
    height: 90px;
    width: 728px;
  }
  &__468x60 {
    height: 60px;
    width: 468px;
  }
  &__300x250 {
    height: 250px;
    width: 300px;
  }
  &__300x600 {
    height: 600px;
    width: 300px;
  }
}

.hline-linear {
  background-image: linear-gradient(to right, rgba($info, .5), transparent);
  border: 0;
  border-radius: 50rem;
  height: 1px;
}

.hline-radial {
  background-image: radial-gradient(rgba($info, .5), transparent);
  border: 0;
  border-radius: 50rem;
  height: 1px;
}
