{{ define `title` }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define `description` }}Chủ đề {{ .Title }}{{ end }}
{{ define `main` }}
<main role="main" class="container mb-4">
  <div class="row">
    <section class="col-lg-8 mb-4">
      <section>{{ partial "ads/728x90.html" . }}</section>
      <section>{{ partial "ads/468x60.html" . }}</section>
      <div class="container mb-4">
        <div class="row g-3 row-cols-lg-2">
          {{ $paginator := .Paginate .Pages }}
          {{ range $paginator.Pages }}
            {{ .Render `summary` }}
          {{ end }}
        </div>
      </div>
      <section>{{ partial "ads/728x90.html" . }}</section>
      <section>{{ partial "ads/468x60.html" . }}</section>
      {{ partial `pagination.html` . }}
    </section>
    <section class="col-lg-4">
      {{ partial `sidebar.html` . }}
    </section>
  </div>
</main>
{{ end }}
