{{ define `title` }}Chủ đề | {{ .Site.Title }}{{ end }}
{{ define `description` }}Danh sách chủ đề{{ end }}
{{ define `main` }}
<main role="main" class="container mb-4">
  <div class="row">
    <section class="col-lg-8 mb-4">
      <section>{{ partial "ads/728x90.html" . }}</section>
      <section>{{ partial "ads/468x60.html" . }}</section>
      <header class="mb-3">
        <h1 class="header__title">Chủ đề</h1>
        <hr class="hr-linear mb-2">
      </header>
      <div class="container mb-4">
        <div class="list-group">
          {{ range where .Data.Terms.Alphabetical `.Term` `!=` `khac` }}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               href="{{ .Page.Permalink }}">
              {{ .Page.Title }}
              <span class="badge bg-primary rounded-pill">{{ .Count }}</span>
            </a>
          {{ end }}
          {{ with .Data.Terms.Get `khac` }}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               href="{{ .Page.Permalink }}">
              {{ .Page.Title }}
              <span class="badge bg-primary rounded-pill">{{ .Count }}</span>
            </a>
          {{ end }}
        </div>
      </div>
      <section>{{ partial "ads/728x90.html" . }}</section>
      <section>{{ partial "ads/468x60.html" . }}</section>
      {{ partial `pagination.html` . }}
    </section>
    <section class="col-lg-4">
      {{ partial `sidebar.html` . }}
    </section>
  </div>
</main>
{{ end }}
