{{ define `title` }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define `description` }}Chủ đề {{ .Title }}{{ end }}
{{ define `main` }}
<main role="main" class="container mb-4">
  <div class="row">
    <section class="col-lg-8 mb-4">
      <section>{{ partial "ads/728x90.gohtml" . }}</section>
      <section>{{ partial "ads/468x60.gohtml" . }}</section>
      <header class="mb-3">
        <h1 class="header__title">Chủ đề: {{ .Title }}</h1>
        <hr class="hr-linear mb-2">
      </header>
      <div class="container mb-4">
        <div class="row g-3 row-cols-1 row-cols-sm-2">
          {{ $paginator := .Paginate .Pages }}
          {{ range $paginator.Pages }}
            {{ .Render `summary` }}
          {{ end }}
        </div>
      </div>
      <section>{{ partial "ads/728x90.gohtml" . }}</section>
      <section>{{ partial "ads/468x60.gohtml" . }}</section>
      {{ partial `pagination.gohtml` . }}
    </section>
    <section class="col-lg-4">
      {{ partial `sidebar.gohtml` . }}
    </section>
  </div>
</main>
{{ end }}
