.sidebar {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;

  &__widget {
    background-color: $white;
    border-radius: 10% 25%;
    box-shadow: $box-shadow-sm;
    margin-bottom: 1.5rem;
    padding: 1.5rem;

    &__title {
      font-size: 1.25rem;
      color: $info;
    }

    &__body {
      font-size: .95rem;
      overflow: hidden;

      & a.list-group-item {
        &:hover {
          color: $info;
        }
      }
    }
  }

  &__donate {
    margin-top: 1rem;
    text-align: center;

    & a {
      text-decoration: none;
    }

    & > div {
      display: inline-block;

      &:hover {
        & img {
          transition: all .2s;
        }

        & img:not(:hover) {
          opacity: .2;
        }
      }
    }
  }
}
