.gsc-control-cse {
  border-radius: .5rem;

  & .gsc-input-box {
    border-radius: .5rem;

    & .gsc-input {
      color: $dark;
    }
  }

  & button.gsc-search-button {
    background-color: $info;
    border: none;
    border-radius: 50rem;
    padding: .75rem;

    &:hover {
      background-color: lighten($info, 10%);
    }
  }
}
