<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block `title` . }}{{ end }}</title>
  <meta name="description" content="{{ block `description` . }}{{ end }}">
  <base href="{{ .Site.BaseURL }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  {{ partial `style.html` . }}
  {{ block `style` . }}{{ end }}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WJ469DT3QF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-WJ469DT3QF');
  </script>
</head>
<body class="bg-light">
  {{ partial `header.html` . }}
  {{ block `main` . }}{{ end }}
  {{ partial `footer.html` . }}
  {{ partial `script.html` . }}
  {{ block `script` . }}{{ end }}
</body>
</html>
