{{ define `title` }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define `description` }}{{ .Page.Params.description }}{{ end }}
{{ define `main` }}
<main role="main" class="container mb-4">
  <div class="row">
    <section class="col-lg-8 mb-4">
      <section>{{ partial "ads/728x90.html" . }}</section>
      <section>{{ partial "ads/468x60.html" . }}</section>
      <article class="single">
        <header class="single__header mb-3">
          <h1 class="single__header__title">{{ .Title }}</h1>
          <hr class="hr-linear mb-2">
        </header>
        <main class="bg-white p-3 mb-0 mb-sm-4 rounded shadow-sm">
          {{ .Content }}
        </main>
        <footer>
          <section>{{ partial "ads/728x90.html" . }}</section>
          <section>{{ partial "ads/468x60.html" . }}</section>
        </footer>
      </article>
    </section>
    <section class="col-lg-4">
      {{ partial `sidebar.html` . }}
    </section>
  </div>
</main>
{{ end }}
