.single {
  &__header {
    &__nav {
      font-size: 80%;

      & a {
        text-decoration: none;
      }
    }

    &__author {
      color: $blue-600;
    }
  }

  &__tags {
    color: $gray-600;

    &:not(:last-child)::after {
      content: ",";
    }
  }

  // Markdown format
  & > main {
    & blockquote {
      border-left: .25rem solid $gray-600;
      margin-left: 1rem;
      padding: .5rem;
    }

    & h1, h2 {
      border-bottom: 1px solid $gray-200;
      margin-bottom: 1rem;
      padding-bottom: .2rem;
    }

    & pre {
      background-color: $gray-200;
      border-radius: .5rem;
      padding: .5rem;
    }

    & table {
      border: none !important;
      margin-bottom: 1rem;
      padding: 0 !important;
      overflow-x: auto;
      display: block;

      &, th, td {
        border: 1px solid $dark;
        padding: .5rem;
      }

      & th {
        background-color: $primary;
        color: $white;
        text-align: center;
      }

      & tr {
        &:hover {
          background-color: $gray-200;
        }
      }
    }

    & .highlight {
      margin-bottom: 1rem;

      & > div {
        border-radius: .5rem;
        overflow: auto;

        & > table {
          overflow: visible;
        }

        & pre {
          margin: 0;
          padding: .5rem;
        }
      }
    }
  }
}
