<header class="mb-4">
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img src="/logo-30x30.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
        <strong>{{ .Site.Title }}</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
              aria-controls="navbar-collapse" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if eq .Identifier `cat` }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle{{ if in $currentPage.RelPermalink `categories` }} active{{ end }}"
                   href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name }}
                </a>
                <ul class="dropdown-menu">
                  {{ range where ($.Site.GetPage `categories`).Pages.ByTitle `.Title` `!=` `Khác` }}
                    <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Title }}</a></li>
                  {{ end }}
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/categories/khac/">Khác</a></li>
                </ul>
              </li>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}"
                   {{ if eq $currentPage.RelPermalink .URL }} aria-current="page" {{ end }}
                   href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
        <div>
          <div class="btn-group">
            <a href="{{ .Site.Params.github }}" class="btn btn-light"><i class="fa-brands fa-github-alt"></i></a>
            <a href="mailto:{{ .Site.Params.email }}" class="btn btn-light"><i class="fa-regular fa-envelope"></i></a>
            <a href="{{ .Site.Params.facebook }}" class="btn btn-light"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="{{ .Site.Params.linkedin }}" class="btn btn-light"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
          <button type="button" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </div>
  </nav>
</header>
