<header class="mb-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a href="{{ .Site.BaseURL }}" class="navbar-brand">
        <img src="/logo.png" class="navbar-brand--img" alt="logo img" loading="lazy">
        <strong class="navbar-brand--text">{{ .Site.Title }}</strong>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="{{ .Site.BaseURL }}" class="nav-link">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a href="/gioi-thieu" class="nav-link">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danh mục</a>
            <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
              {{ range where (.Site.GetPage `categories`).Pages.ByTitle `.Title` `!=` `Khác` }}
                <a href="{{ .Permalink }}" class="dropdown-item">{{ .Title }}</a>
              {{ end }}
              <div class="dropdown-divider"></div>
              <a href="/categories/khac/" class="dropdown-item">Khác</a>
            </div>
          </li>
        </ul>
        <div class="my-2 my-lg-0 text-right">
          <div class="btn-group mr-2" role="group">
            <a href="{{ .Site.Params.github }}" class="btn btn-light" role="button" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
            <a href="mailto:{{ .Site.Params.email }}" class="btn btn-light" role="button">
              <i class="far fa-envelope"></i>
            </a>
            <a href="{{ .Site.Params.facebook }}" class="btn btn-light" role="button" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="{{ .Site.Params.linkedin }}" class="btn btn-light" role="button" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <a class="btn btn-info" role="button"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </nav>
</header>
