{{ $bootstrap := resources.Get `css/vendors/bootstrap.min.css` }}
{{ $bootstrapIcon := resources.Get `css/vendors/bootstrap-icons.min.css` }}
{{ $vendors := slice $bootstrap $bootstrapIcon | resources.Concat `vendors.css` | minify | fingerprint }}
<link rel="stylesheet" href="{{ $vendors.Permalink }}">

{{ $options := (dict `targetPath` `css/style.min.css` `outputStyle` `compressed`) }}
{{ $style := resources.Get `scss/main.scss` | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
