{{ define `title` }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define `description` }}{{ .Page.Params.description }}{{ end }}
{{ define `main` }}
<main role="main" class="container mb-4">
  <div class="row">
    <section class="col-lg-8 mb-4">
      <section>{{ partial "ads/728x90.gohtml" . }}</section>
      <section>{{ partial "ads/468x60.gohtml" . }}</section>
      <article class="single">
        <header class="single__header mb-3">
          <h1 class="header__title">{{ .Title }}</h1>
          <hr class="hr-linear mb-2">
          <ul class="single__header__nav nav grid gap-0 column-gap-5">
            <li class="nav-item">{{ .Date.Format `02.01.2006` }}</li>
            <li class="nav-item"><span class="single__header__author">{{ .Page.Params.author }}</span></li>
            <li class="nav-item">
              {{ range .Page.Params.categories }}
              <a class="badge text-bg-warning"
                 href="categories/{{ . | urlize }}/">{{ . }}</a>
              {{ end }}
            </li>
          </ul>
          <hr class="hr-linear mt-2">
          <section class="text-center">
            {{ with .Resources.GetMatch .Page.Params.thumbnail }}
              {{ with .Resize `525x300 webp` }}
                <img src="{{ .RelPermalink }}" class="img-fluid rounded" alt="{{ .Title }}"
                     width="{{ .Width }}" height="{{ .Height }}"
                     loading="lazy">
              {{ end }}
            {{ end }}
          </section>
        </header>
        <main class="bg-white p-3 mb-0 mb-sm-4 rounded shadow-sm">
          {{ .Content }}
          {{ $tags := .Page.Params.tags }}
          {{ if (gt ($tags | len ) 0) }}
            <hr>
              Thẻ:
              {{ range $tags }}
                <i class="single__tags">#{{ . }}</i>
              {{ end }}
          {{ end }}
        </main>
        <footer>
          <section>{{ partial "ads/728x90.gohtml" . }}</section>
          <section>{{ partial "ads/468x60.gohtml" . }}</section>
          {{ template "_internal/disqus.html" . }}
        </footer>
      </article>
    </section>
    <section class="col-lg-4">
      {{ partial `sidebar.gohtml` . }}
    </section>
  </div>
</main>
{{ end }}
