<article class="col">
  <section class="card shadow-sm">
    <div class="card-header d-flex align-items-center">
      <a class="badge text-bg-warning"
         href="categories/{{ .Page.Params.categories | urlize }}/">{{ .Page.Params.categories }}</a>
    </div>
    <a href="{{ .Permalink }}">
      <img src="{{ .Page.Params.thumbnail }}" class="card-img-top" alt="{{ .Title }}" loading="lazy">
    </a>
    <div class="card-body">
      <h2 class="card-title text-truncate">
        <a class="card-link" href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      <div class="container">
        <div class="row">
          <div class="col px-0">
            <hr class="hline-linear">
          </div>
          <div class="col-auto pr-0">
            <p class="card-text text-right">
              <small class="text-muted">Cập nhật: {{ .Date.Format `02.01.2006` }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
