<article class="col">
  <section class="card shadow-sm h-100">
    <div class="card-header">
      {{ range .Page.Params.categories }}
      <a class="badge text-bg-warning"
         href="categories/{{ . | urlize }}/">{{ . }}</a>
      {{ end }}
    </div>
    <a href="{{ .Permalink }}" title="{{ .Title }}">
      {{ with .Resources.GetMatch .Page.Params.thumbnail }}
        {{ with .Resize `525x300 webp` }}
          <img src="{{ .RelPermalink }}" class="card-img-top" alt="{{ .Title }}"
               width="{{ .Width }}" height="{{ .Height }}"
               loading="lazy">
        {{ end }}
      {{ end }}
    </a>
    <div class="card-body">
      <h2 class="card-title"><a class="card-link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
      <small class="text-muted">{{ .Description }}</small>
    </div>
    <hr class="hr-linear m-0">
    <div class="card-footer bg-white border-0 d-flex justify-content-between">
      <small class="text-muted">{{ .Date.Format `02.01.2006` }}</small>
      <small class="text-primary">{{ .Page.Params.author }}</small>
    </div>
  </section>
</article>
