{{ $cap := .Get `cap` }}
{{ $capHide := .Get `capHide` }}
{{ $global := .Get `global` }}
{{ $height := .Get `height` }}
{{ $width := .Get `width` }}
{{ $src := .Get `src` }}

{{ $image := .Page.Resources.GetMatch $src }}
{{ if eq $global `true` }}
  {{ $image = resources.Get $src }}
{{ end }}

{{ if $image }}
  <figure class="text-center mb-2" title="{{ $cap }}">
    {{ if not $height }}
      {{ $height = string $image.Height }}
    {{ end }}
    {{ if not $width }}
      {{ $width = string $image.Width }}
    {{ end }}
    {{ $size := printf `%sx%s` $width $height }}
    {{ with $image.Resize (printf `%s %s` $size `webp`) }}
      <img src="{{ .RelPermalink }}" class="img-fluid rounded"
           height="{{ $height }}" width="{{ $width }}"
           alt="{{ $cap }}" loading="lazy">
    {{ end }}
    {{ if ne $capHide `true` }}
      <figcaption class="mt-1"><em class="text-muted">{{ $cap }}</em></figcaption>
    {{ end }}
  </figure>
{{ end }}
