{{ $cap := .Get `cap` }}
{{ $capHide := .Get `capHide` }}
{{ $size := .Get `size` }}
{{ $src := .Get `src` }}
{{ with resources.Get $src }}
  <figure class="text-center mb-2" title="{{ $cap }}">
    {{ if not $size }}
      {{ $size = printf "%dx%d" .Width .Height }}
    {{ end }}
    {{ with .Resize (printf `%s %s` $size `webp`) }}
      <img src="{{ .RelPermalink }}" class="img-fluid rounded" alt="{{ $cap }}" loading="lazy">
    {{ end }}
    {{ if ne $capHide "true" }}
      <figcaption class="mt-1"><em class="text-muted">{{ $cap }}</em></figcaption>
    {{ end }}
  </figure>
{{ end }}
